backend/.env
backend/uploads/*
frontend/Skip-ify/.env
/backend/app/__pycache__
/backend/app/models/__pycache__
/backend/app/routes/__pycache__
/backend/app/tests/__pycache__
frontend/Skip-ify/package-lock.json
